body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#778da9, #e0e1dd);
    color: #1b263b;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #e0e1dd;
    margin-bottom: 10px;
}

#bday-age {
    background: #e0e1dd;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #e0e1dd;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid #1b263b;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://64.media.tumblr.com/1e4545aa1b813e1eff3c97dcf639d259/b720a8998950cf36-93/s1280x1920/7c40b2cc2379fe29f52447afb63973241f5d8621.jpg");
}

#gift-img-hot:hover {
    background-image: url("https://64.media.tumblr.com/fea499377ae4be252c1565050deec9c7/7c1bcf4af7a27565-db/s1280x1920/d8dc26716acec0b9545b45c3751ee7e510a49110.jpg");
}

#gift-img-genius:hover {
    background-image: url("https://64.media.tumblr.com/5d88d0d1ba742ed2e6aa73b9b3f8271f/2b582a5d70e185d2-30/s1280x1920/2ff3614c8ff38180f11b7407891b6785db890b5c.jpg");
}

#gift-img-badass:hover {
    background-image: url("https://64.media.tumblr.com/f90a8a5072dc9c4e56222bb616b775e2/209298f69563a5aa-76/s1280x1920/634d4abecef40d76cdfd3ecbb3281f9a8537a808.jpg");
}

#gift-img-cheers:hover {
    background-image: url("https://64.media.tumblr.com/e8d2c37e59d0163b4207916273ff0a34/3561825af3911584-63/s2048x3072/8c175713db0d3358e5a638c32f946c9286fcf51a.jpg");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #1b263b;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/